.mainContainer{
    max-width: 100vw;
    height: 90vh;
    padding: 1rem 0;
    height: 150%;
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .top{
        height: 40%;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 1rem;

        img{
            width: 25%;
        }
    }

    .middle{
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .bot{
        padding: 0 1rem;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 60%;
        margin-bottom: 1.5rem;

        div{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            overflow-y: auto;
            max-height: 20rem;

            &::-webkit-scrollbar {
                height: 6px;
                width: 6px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: rgba($color: #000000, $alpha: 0.3);
            }

            button {
                margin: 1rem;
                margin-bottom: 2rem;
                border: none;
                outline: none;
                background-color: goldenrod;
                padding: 1rem 2rem;
                font-size: 1.0375rem;
                transition: background-color .2s, color .2s, font-weight .2s;
                cursor: unset;

                &:hover {
                    background-color: #70550f;
                    color: white;
                    font-weight: 600;
                    transition: background-color .2s, color .2s, font-weight .2s;
                }
            }
        }
        
        h2{
            display: block;
            width: 100%;
            text-align: center;
            font-weight: 200;
            margin-bottom: 1rem;
        }
    }

    .sinopse{
        width: 60%;
        margin: 3rem auto;
        
        h2 {
            margin-bottom: .275rem;
        }
        span {
            display: block;
            margin-bottom: 1rem;
        }
        .data{
            margin-top: .635rem;

            strong {
                font-size: 1.4rem;
                font-weight: 900;
            }
            ul{
                transform: translateX(5%);

                li {
                    font-size: 1.1375rem;
                    color: black;
                    font-weight: 200;
                    padding-top: .75rem;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    
    .mainContainer{

        .bot{
            width: 95%;

            div{
                grid-template-columns: 1fr;
            }
        }

        .sinopse{
            h2{
                font-size: 1.125rem;

                small{
                    font-size: 1rem;
                }
            }
        }
    }

}