@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400&family=Poppins:wght@200;300;400;500;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
}

strong, h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

button {
  cursor: pointer;
  font-weight: 400;
}

p, a, small {
  font-weight: 400;
  color: inherit;
}
small {
  font-weight: 300;
}


html, body {
  background-color: #e2dada;

  &::-webkit-scrollbar {
      height: 6px;
      width: 10px;
  }

  &::-webkit-scrollbar-thumb{
      background-color: rgba($color: goldenrod, $alpha: 0.8);
  }
}